.productWrapper {
  margin: 25px;
  position: relative;
  width: 220px;
  .imagewrapper {
    &__image {
      width: 220px;
      height: 150px;
      border-radius: 5px;
      position: relative;
      position: relative;
    }
    &__sold {
      width: 220px;
      height: 150px;
      border-radius: 5px;
      opacity: 0.35;
    }
    &__soldText {
      color: white;
      text-shadow: 1px 1px rgb(155, 155, 155);
      font-weight: bold;
      font-size: 18px;
      position: absolute;
      top: 20%;
      left: 35%;
    }
  }
  .title,
  .brand,
  .size,
  .price {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
  }
}
